.DS_Store
WebService-TelstraAPI-Messaging/WebService-TelstraAPI-Messaging-*
WebService-Telstra-API-Messaging/WebService-Telstra-API-Messaging-*
WebService-Telstra-API-Messaging/CODE_REVIEW.MD
WebService-Telstra-API-Messaging/blib/
WebService-Telstra-API-Messaging/.build/
WebService-Telstra-API-Messaging/_build/
WebService-Telstra-API-Messaging/cover_db/
WebService-Telstra-API-Messaging/inc/
WebService-Telstra-API-Messaging/Build
!Build/
Build.bat
WebService-Telstra-API-Messaging/.last_cover_stats
WebService-Telstra-API-Messaging//Makefile
WebService-Telstra-API-Messaging//Makefile.old
WebService-Telstra-API-Messaging//MANIFEST.bak
WebService-Telstra-API-Messaging//META.yml
WebService-Telstra-API-Messaging//META.json
WebService-Telstra-API-Messaging//MYMETA.*
WebService-Telstra-API-Messaging/nytprof.out
WebService-Telstra-API-Messaging//pm_to_blib
WebService-Telstra-API-Messaging/*.o
WebService-Telstra-API-Messaging/*.bs
WebService-Telstra-API-Messaging//_eumm/
WebService-Telstra-API-Messaging//.idea/
tokenstore.bin
